In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [4]:
pd.read_csv("2044.csv", sep=";").head()

,Tipo de alojamiento,Total Nacional,Comunidades y Ciudades Autónomas,Residencia: Nivel 1,Residencia: Nivel 2,Viajeros y pernoctaciones,Periodo,Total
0,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Viajero,2025M02,6.539.960
1,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Viajero,2025M01,5.776.075
2,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Viajero,2024M12,6.553.489
3,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Viajero,2024M11,7.171.221
4,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Viajero,2024M10,10.774.309

In [8]:
pd.read_csv("2941.csv", sep=";").loc[520:550, :]

,Tipo de alojamiento,Total Nacional,Comunidades y Ciudades Autónomas,Residencia: Nivel 1,Residencia: Nivel 2,Viajeros y pernoctaciones,Periodo,Total
520,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M12,11.572.418
521,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M11,13.162.420
522,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M10,22.163.277
523,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M09,28.313.666
524,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M08,35.857.571
525,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M07,31.022.067
526,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M06,25.042.689
527,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M05,22.318.874
528,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M04,16.480.644
529,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M03,16.184.767
530,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M02,12.430.710
531,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2005M01,11.088.055
532,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M12,11.384.786
533,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M11,12.294.550
534,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M10,21.180.295
535,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M09,26.878.757
536,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M08,34.472.302
537,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M07,29.131.986
538,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M06,23.776.940
539,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M05,20.624.722
540,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M04,17.537.681
541,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M03,14.731.784
542,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M02,12.278.676
543,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2004M01,10.404.685
544,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2003M12,10.426.118
545,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2003M11,11.600.240
546,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2003M10,19.635.547
547,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2003M09,25.943.815
548,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2003M08,33.851.008
549,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2003M07,28.557.092
550,Encuesta de Ocupación Hotelera,Total Nacional,NaN,Total,NaN,Pernoctaciones,2003M06,24.047.255

,Tipo de alojamiento,Total Nacional,Comunidades y Ciudades Autónomas,Residencia: Nivel 1,Residencia: Nivel 2,Viajeros y pernoctaciones,Periodo,Total
0,True,True,False,True,False,True,True,True
1,True,True,False,True,False,True,True,True
2,True,True,False,True,False,True,True,True
3,True,True,False,True,False,True,True,True
4,True,True,False,True,False,True,True,True
...,...,...,...,...,...,...,...,...
173995,True,True,True,True,True,True,True,False
173996,True,True,True,True,True,True,True,False
173997,True,True,True,True,True,True,True,False
173998,True,True,True,True,True,True,True,False
173999,True,True,True,True,True,True,True,False